body .lm_content{
  overflow-y: scroll;
}

.liverc-notif {
    position: absolute;
    right: -5px;
    top: -5px;
    background: #ad5000;
    color:#fff;
    font-weight: bold;
    z-index: 4;
    padding: 2px 5px;
    border-radius: 50px;
}

.lm_active .liverc-notif{
	display: none;
}

ul {
	list-style-image: none;
}
